<template>
  <div class="home">
    <h1>Morgane Mathis</h1>
    <p>—</p>
    <h2>Cuisine Gourmande & Naturelle</h2>
  </div>
</template>

<script>
  export default {
    name: 'Home',
  };
</script>

<style lang="scss">
  .home {
    font-size: 2em;
    text-align: center;
  }

  h1,
  h2 {
    font-weight: 400;
  }
</style>
