<template>
  <router-view />
</template>

<script>
  export default {
    name: 'App',
    head: {
      link: [
        {
          rel: 'stylesheet',
          href: 'https://fonts.googleapis.com/css?family=Reenie+Beanie',
        },
      ],
    },
  };
</script>

<style lang="scss">
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Reenie Beanie', cursive;
    color: #333;
  }
</style>
